
@use './variables/variables' as *;
@use './base' as *;
@use './_table' as *;


.v-btn {
      text-transform: none !important;
}

.v-field:not(.v-field--focused):not(.v-field--active) {
  input::placeholder,
  textarea::placeholder {
    opacity: 0 !important;
  }
}

.v-field--focused,
.v-field--active {
  input::placeholder,
  textarea::placeholder {
    opacity: 0.6 !important;
  }
}